configuration {
    modi: "drun,run,window";
    show-icons: true;
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "󰣆  apps";
    display-run: "  run";
    display-window: "  windows";
    icon-theme: "Papirus-Dark";
    terminal: "ghostty";
}

@theme "~/.config/rofi/theme.rasi"
