@define-color cat-mocha-rosewater #f4dbd6;
@define-color cat-mocha-flamingo #f0c6c6;
@define-color cat-mocha-pink #f4b8e4;
@define-color cat-mocha-mauve #ca9ee6;
@define-color cat-mocha-red #e78284;
@define-color cat-mocha-maroon #ea999c;
@define-color cat-mocha-peach #ef9f76;
@define-color cat-mocha-yellow #e5c890;
@define-color cat-mocha-green #a6d189;
@define-color cat-mocha-teal #81c8be;
@define-color cat-mocha-sky #99d1db;
@define-color cat-mocha-sapphire #85c1dc;
@define-color cat-mocha-blue #8caaee;
@define-color cat-mocha-lavender #babbf1;
@define-color cat-mocha-text #c6d0f5;
@define-color cat-mocha-bg #101010;

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
  padding: 0 2px;
  border: none;
  transition: all 0.2s ease;
}

#waybar {
  background: transparent;
  color: @cat-mocha-text;
  margin: 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px 0 5px 1rem;
  background: @cat-mocha-bg;
}

#workspaces button {
  color: @cat-mocha-lavender;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @cat-mocha-sky;
  border-radius: 5px;
}

#workspaces button:hover {
  color: @cat-mocha-sapphire;
  border-radius: 5px;
}

#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#custom-lock {
  background-color: @cat-mocha-bg;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @cat-mocha-blue;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: @cat-mocha-green;
  border-radius: 0;
}

#battery.charging {
  color: @cat-mocha-green;
}

#battery.warning:not(.charging) {
  color: @cat-mocha-red;
}

#pulseaudio {
  color: @cat-mocha-maroon;
  border-radius: 5px 0 0 5px;
  margin-left: 1rem;
}

#network,
#cpu {
  border-radius: 0;
}

#memory {
  border-radius: 0 5px 5px 0;
}

#tray {
  margin: 5px 1rem;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0 0 5px;
  color: @cat-mocha-lavender;
}
